{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
	<br/>
	<a href="{{ path('home_page') }}">Home</a>
{% endblock fos_user_content %}
